<!DOCTYPE html>
<html>
<head>
  <title>{% block page_title %}App{% endblock %}</title>
  <meta name="viewport" content="initial-scale=1.0; maximum-scale=1.0; width=device-width;">
  <link rel="stylesheet" href="/static/css/base.css" type="text/css" media="screen">
  <link rel="stylesheet" href="/static/css/app.css" type="text/css" media="screen">
  <link rel="stylesheet" href="/static/css/popover.css" type="text/css" media="screen">
  <link rel="shortcut icon" type="image/ico" href="/static/i/favicon.ico">

  <script src="https://stage.myapps.mozillalabs.com/jsapi/include.js"
          type="text/javascript"></script>
  <script type="text/javascript" src="/static/js/jquery.1.5.min.js"></script>
  <script type="text/javascript" src="/static/js/popover.js"></script>
  <script type="text/javascript" src="/static/js/mozmarket.js"></script>
  <script type="text/javascript" src="/static/js/app.js"></script>

  <script src="https://browserid.org/include.js"></script>
  <script src="https://www.paypalobjects.com/js/external/dg.js"></script>
  <script type="text/javascript" src="/static/js/_paypal.js"></script>
</head>

<body class="apps {{ template_class }}">
 <div class="wrapper">
  <div id="top_nav">
    <header>
      <a class="home" href="/">Home</a>
    </header>
  </div>

  <section class="content">
    <div id="app">
      <h1>Ice Palace Crusaders</h1>
      <p>Before you begin playing the next level you probably want one of these:</p>
      <table class="products">
        {% for product in all_products %}
        <tr id="{{ product.code }}">
          <td class="image"></td>
          <td class="name">{{ product.description }}</td>
          <td class="price">${{ product.price }}</td>
          <td><button data-request="{{ product.request_data }}">Buy</button></td>
        </tr>
        {% endfor %}
      </table>
    </div>
  </section>
 </div>

<!-- This HTML would be defined in the WebRT chrome. Maybe. -->
<div class="popover" id="pay-dialog"
     data-start-url="{% url marketplace.start_app_payment %}"
     data-submit-url="{% url marketplace.submit_app_payment %}">
  <div class="p-header">Mozilla Payments</div>
  <div class="p-content">
    <p class="action"></p>
    <form class="moz-payment">
      {% csrf_token %}
      <div class="form-row">
        <input checked="checked" type="radio" class="payment_method" name="payment_method" value="carrier" />
        <label>Bill my T-Mobile account</label>
      </div>
      <div class="form-row">
        <input type="radio" class="payment_method" name="payment_method" value="paypal" />
        <label>Pay with PayPal</label>
      </div>
    </form>
    <button class="pay">Pay</button>
    <button class="cancel">Cancel</button>
  </div>
</div>

</body>
</html>
