#app {
  width: 600px;
  margin: 0 auto;
}

.products {
  margin-top: 1em;
}

.products {
  border-top: 1px solid #000;
  border-bottom: 1px solid #000;
}

.products td {
  padding: 0.5em;
}

.products .image {
  height: 100px;
  width: 100px;
}

.products .name {
  width: 20em;
}

#glasses .image {
  background: left center no-repeat url(img/3d_glasses.jpg);
}

#shoes .image {
  background: left center no-repeat url(img/shoes.jpg);
}

.popover {
  font-size: 80%;
}
.popover .header {
  line-height: 2em;
}
.popover .p-content {
  padding: 0.5em;
  background: none;
  border: none;
  min-width: none;
  overflow-x: auto;
  line-height: 1.5em;
  text-align: center;
}
.popover .form-row {
    text-align: left;
}
.popover p.action {
  margin-bottom: 0.5em;
}
.popover form.moz-payment {
    margin-bottom: 1em;
}

/* override some styles in the embedded paypal form */
.popover .p-content #content {
  border: none;
  font: inherit;
  margin: 0;
  padding: 0;
  width: 400px;
}

.popover .p-content #content input[type="submit"] {
  height: inherit;
  width: inherit;
  margin: 0.5em;
  margin-left: 100px;
}

.popover .p-content #content .label {
  text-align: right;
  padding-right: 1em;
  width: 150px;
}