{% extends "base.html" %}
{% block page_title %}Firefox Pay{% endblock page_title %}
{% block content %}
<script src="https://www.paypalobjects.com/js/external/dg.js"></script>
<script>
var goForm = function() {
	try {
	$.ajax({
		url: "/init_embedded_payment", 
		type: "POST",
		data: {
			csrfmiddlewaretoken: $("#setup_form :input")[0].value,
			sender: $("#setup_sender").val(),
			receiver: $("#setup_receiver").val(),
			amount: $("#setup_amount").val(),
			cc: $("#setup_currency").val()
		},
		/*dataType: "json",*/
		success: function(data, textStatus, jqXHR) {
			$("#ppal_paykey").val(data.paykey);
			if (data.preapprovalKey) {
				$("#ppal_preapprovalkey").val(data.preapprovalKey);
			}
			$("#ppal_form").show();
			//$("#ppal_form").submit();
		}, 
		error: function(jqXHR, textStatus, errorThrown) {
			alert("failure");
			alert(textStatus);
		}
	});
	} catch (e) {alert(e);}
};
$("#setup_form_submit").submit(goForm);
</script>

<style>
#content {
	margin-left:auto;
	margin-right:auto;
	width:320px;
	padding-left:16px;
	padding-top:24px;
	padding-bottom:24px;
	font:8pt Tahoma;
	border:3px solid #ddddff;
	border-radius:4px;
}
#content .label {
	width:100px;
	display:inline-block;
}
#content input[type=text] {
	width:200px;
}
#content input[type=submit] {
	margin-left:100px;
	margin-top:24px;
	height:24px;
	width:120px;
}</style>

<div id="content">

<form id="setup_form" method="POST" action="javascript:goForm()">
{% csrf_token %}
<div class="label">Sender:</div><input type="text" id="setup_sender" name="sender" value="mhanso_1311267337_per@gmail.com"/><br>
<div class="label">Receiver:</div><input type="text" id="setup_receiver" name="receiver" value="mhanso_1311195548_biz@gmail.com"/><br>
<div class="label">Amount:</div><input type="text" id="setup_amount" name="amount" value="1.99"/><br>
<div class="label">Currency:</div><input type="text" name="cc" id="setup_currency" value="USD"/><br>
<input type="submit" id="setup_form_submit" value="Set Up Payment">
<br>
(normally, we would execute the Set Up Payment step before rendering the confirmation UI)
</form>

<form style="display:none" id="ppal_form" action= "https://www.sandbox.paypal.com/webapps/adaptivepayment/flow/pay" target="PPDGFrame"> 
<input id="type" type="hidden" name="expType" value="light"> 
<div class="label">Pay Key:</div><input id="ppal_paykey" type="text" name="paykey" value=""> 
<div class="label">Preapproval Key:</div><input id="ppal_preapprovalkey" type="text" name="preapprovalKey" value="">
<input type="submit" id="submitBtn" value="Pay with PayPal">
</form>

<div id="status">
</div>

</div>
<script> 
var dgFlow = new PAYPAL.apps.DGFlow({ trigger: 'submitBtn' }); 
var statusDiv = document.getElementById("status");
</script>

{% endblock %}
