<style>
#content {
	margin-left:auto;
	margin-right:auto;
	width:320px;
	padding-left:16px;
	padding-top:24px;
	padding-bottom:24px;
	font:8pt Tahoma;
	border:3px solid #ddddff;
	border-radius:4px;
}
#content .label {
	width:100px;
	display:inline-block;
}
#content input[type=text] {
	width:200px;
}
#content input[type=submit] {
	margin-left:100px;
	margin-top:24px;
	height:24px;
	width:120px;
}</style>

<div id="content">

<form id="setup_form_submit" method="POST" action="#">
{% csrf_token %}
<div class="label">Sender:</div><input type="text" id="setup_sender" name="sender" value="mhanso_1311267337_per@gmail.com"/><br>
<div class="label">Receiver:</div><input type="text" id="setup_receiver" name="receiver" value="mhanso_1311195548_biz@gmail.com"/><br>
<div class="label">Amount:</div><input type="text" id="setup_amount" name="amount" value="1.99"/><br>
<div class="label">Currency:</div><input type="text" name="cc" id="setup_currency" value="USD"/><br>
<input class="button" type="submit" id="setup_form_submit" value="Set Up Payment">
<br>
(normally, we would execute the Set Up Payment step before rendering the confirmation UI)
</form>

<form style="display:none" id="ppal_form" action= "https://www.sandbox.paypal.com/webapps/adaptivepayment/flow/pay" target="PPDGFrame"> 
<input id="type" type="hidden" name="expType" value="light"> 
<div class="label">Pay Key:</div><input id="ppal_paykey" type="text" name="paykey" value=""> 
<div class="label">Preapproval Key:</div><input id="ppal_preapprovalkey" type="text" name="preapprovalKey" value="">
<input class="button" type="submit" id="submitBtn" value="Pay with PayPal">
</form>

<div id="status">
</div>

</div>
<script> 
var dgFlow = new PAYPAL.apps.DGFlow({ trigger: 'submitBtn' }); 
var statusDiv = document.getElementById("status");
</script>
