{% extends "base.html" %}
{% block page_title %}Firefox Pay{% endblock page_title %}
{% block content %}


<style>
#content {
	margin-left:auto;
	margin-right:auto;
	width:360px;
	padding-left:16px;
	padding-top:24px;
	padding-bottom:24px;
	font:8pt Tahoma;
	border:3px solid #ddddff;
	border-radius:4px;
}
#content .label {
	width:100px;
	display:inline-block;
	vertical-align:top;
}
#content .value {
	width:200px;
	display:inline-block;
}
#content input[type=text] {
	width:200px;
}
#content input[type=submit] {
	margin-left:100px;
	margin-top:24px;
	height:24px;
	width:120px;
}</style>

<div id="content">

<b>Preapproval Setup:</b>

<form method="POST" action"/start_payment">
{% csrf_token %}
<div class="label">Sender:</div> <input type="text" name="sender" value="mhanso_1311267337_per@gmail.com"/><br>
<div class="label">Amount:</div> <input type="text" name="amount" value="400"/><br>
<input type="submit" value="Set Up Preapproval">
</div>

{% endblock %}
